.login_view {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	transform: translateY(-78px);
}

.user_info_holder {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 14px;
}

.avatar {
	width: 96px;
	height: 96px;
}

.username {
	color: #fff;
	font-size: 1.15em;
	font-weight: 500;
	text-shadow: 0 0 10px black;
	margin: 0;
}

.login_input_holder {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	transform: translateX(17px);
	padding-top: 14px;
}

.password_input_holder {
	border-radius: 4px;
	height: 27px;
	width: 159px;
	background-color: rgba(61, 60, 61, 0.76);
	backdrop-filter: blur(0.5rem);
	margin-top: 10px;
	position: relative;
}

.password_input_holder input {
	font-size: 12.5px;
	outline: none;
	border: none;
	border-radius: 4px;
	height: 27px;
	width: 159px;
	padding: 6px 8px;
	box-sizing: border-box;
	color: #a3a3a3aa;
	font-weight: 900;
	background-color: transparent;
	font-family: Verdana;
    letter-spacing: -1px;
}

.password_input_holder input::selection {
	background: #616161;
}

.password_input_holder p {
	color: #6f6e6fce;
	font-weight: 600;
	font-size: 12.5px;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(8px, 5.5px);
}

.login_input_holder img {
	width: 14px;
	height: 14px;
	background-color: #656465;
	border-radius: 50%;
	padding: 5px;
	transform: translate(-1.5px, 5px);
}

.login_input_holder.vibrate {
	animation: vibrate 0.35s linear;
}

@keyframes vibrate {
	8%,
	41% {
		transform: translateX(-17px);
	}
	25%,
	58% {
		transform: translateX(17px);
	}
	75% {
		transform: translateX(-7px);
	}
	92% {
		transform: translateX(7px);
	}
	0%,
	100% {
		transform: translateX(17px);
	}
}
